<h1>Here is all the information we have on this animal</h1>

<%=@animal.name%>
<%=@animal.latin_name%>
<%=@animal.kingdom%>

<ul>
<%@animal.sightings.each do |sighting| %>
<li>Date:<%=sighting.date%> Time:<%=sighting.time%> Latitude:<%=sighting.latitude%> Longitude:<%=sighting.longitude%> Region:<%=sighting.region%><button type="button" class="btn btn-dark">
<%= link_to 'Update', edit_sighting_path(sighting)%></button><%=button_to "Delete", sighting, :method => :delete, data: {confirm: "Are you sure you want to delete?"} %></button>



</li>

<%end%>
</ul>

<%=link_to "Enter a new sighting", new_sighting_path({animal_id:@animal.id})%><br>
<%=link_to "Go Back to Home", animals_path%>